body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(9, 52, 68);
    
}

.main{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 40%;
    margin: 8%;
    margin-left: 28%;
    border-radius: 30px;
    padding: 30px;
}

.heading{
    display: flex;
    justify-content: center;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;;
}

.container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container > h2{
    margin: 40px;
    display: inline-block;
    background: rgb(9, 52, 68);
    color: antiquewhite;
    padding: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.buttons > button{
    margin: 10px;
    font-size: large;
    background: rgb(9, 52, 68);
    border: none;
    color: antiquewhite;
    padding: 7px;
    width: 90px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .main{
      width: 70%;
      margin: 10%;
      margin-left: 5%;
      padding: 40px;
    }

    .container > h2{
        margin: 20px;
        padding: 10px;
        width: 100px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 393px) {
    .main{
      width: 70%;
      margin: 40%;
      margin-left: 2%;
      padding: 50px;
    }

    .container > h2{
        margin: 14px;
        padding: 10px;
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .buttons > button{
        margin: 10px;
        font-size: large;
        background: rgb(9, 52, 68);
        border: none;
        color: antiquewhite;
        padding: 14px;
        width: 190px;
        border-radius: 10px;
    }   
}